body{
	background: url(forest.jpg)


}
h1,h2{
	margin: 10%;
	font-family: 'Roboto';
	color: red;
	text-align: right;
}
p{
	margin: 1%;
	text-align: right;
}
em{
	padding: 50px;
	color: rgb(38, 12, 98);
	border-bottom: 10px double black;
	
}
strong{
	font-family: 'Caveat';
}
.wrapper{
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}
